* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Acme', Arial;
    background-color: #1e1925;
    color: #fff;
    text-align: center;
    word-spacing: 5px;
}

nav {
    height: 10%;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    color: #1e1925;
}

img {
    height: 20vmin;
    width: 20vmin;
}

#choices {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 2%;
}

.choice {
    border: 6px double #fff;
    height: 30vmin;
    width: 30vmin;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms ease-in-out;
    margin: auto;
}

.choice:hover {
    cursor: pointer;
    background-color: #282331;
    transform: scale(1.1);
}

#score {
    width: 20%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2%;
    margin-bottom: 2%;
}

#score-board {
    width: 30%;
    height: 100%;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.badge {
    background-color: #f16359;
    color: #fff;
    width: 20%;
}

.result {
    font-size: 2rem;
}

.move {
    font-size: 20px;
    margin-top: 2%;
}

.win {
    border: 6px double #6df18e;
}

.lose {
    border: 6px double #f16359;
}

.draw {
    border: 6px double   #888888;
}